{% extends 'base.html' %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/account_style.css'%}">

<body id="page-top" xmlns="http://www.w3.org/1999/html" class="test">

<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-half">
                <h1 class="text-white font-weight-bold">Se connecter</h1>
                <hr class="divider"/>
            </div>
        </div>
    </div>
</header>

<!-- Login-->
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <h3 id="form-title">Login</h3>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
                        </div>
                        <input type="text" name="email" placeholder="email..." class="form-control">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="password" placeholder="Mot de passe..." class="form-control">
                    </div>

                    <div class="d-flex justify-content-center mt-3 login_container">
                        <input class="btn login_btn" type="submit" name="submit" value="Connexion">
                    </div>
                </form>
            </div>
            {% for message in messages %}
            <div class=" mt-4 d-flex justify-content-center">
                <p id="messages" class="text_align-center">{{ message }}</p>
            </div>
            {% endfor %}
            <div class="mt-2">
                <div class="d-flex justify-content-center links">
                    Vous n'avez pas de compte ?<a href="{% url 'create_account' %}" class="ml-2">S'inscrire</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>

